<script src="https://kit.fontawesome.com/777a90157d.js" crossorigin="anonymous"></script>
<div class="jumbotron m-5"  >
  <div class="container_bg">
    <div class="container_body">
      <p style="text-align:center">Shopping-Cartへようこそ</p>
      
      <br>
      <br>
      <hr width="95%" style="padding-bottom: 30px">
      <div class="user_info">
        <p style="text-align:center; padding-bottom: 10px">カートに製品を追加するウェブです</p>
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                おはよございます　<%= current_user.name %>　さん。
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <%= button_to "ログイン", new_user_session_path, class: "button_css"%>
            </li>
          <% end %>
        </ul>
        
        <%= button_to "サインアウト" , destroy_user_session_path, method: :delete, class: "button_css"%>
        <%= button_to "製品一覧を見る", books_path, method: :get ,class: "button_css" %>
      </div>
    </div>
  </div>
</div>

